.member {
    width: 25%;

    > div {
        width: 100%;
        max-width: 225px;
        margin: 0 auto;
        text-align: left;

        .image {
            width: 100%;
            background-color: #ededed;
            background: center center no-repeat;
            // -webkit-background-size: cover;
            // -moz-background-size: cover;
            // -o-background-size: cover;
            background-size: cover;
            margin-bottom: 20px;
            cursor: pointer;
        }
    }
}

.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}