// .cta {
//     padding-top: 48px;
//     padding-bottom: 48px;
//     // background: #0b0f2b;
    
    

    .center {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
        // padding: 0 16px;
        // max-width: 877px;
        // display: block;
        // margin: 0 auto;        
    }

    h1 {
        text-transform: none;
        color: #fff;
        font-weight: 400;
        margin-bottom: 48px;
        text-align: center;

        line-height: 1.5;
        color: #0b0f2b;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 16px;

        font-family: 'TTLakes', sans-serif;
    }

// }